.Rproj.user
*.Rproj
*.R
*.bib
.Rhistory
*.RData
.Ruserdata
drafts/
posts_files/
Publications.bib
*.qmd
_quarto.yml
_drafts/

/.quarto/
**/*.quarto_ipynb

# Quarto source files
*.qmd

# Freeze directory (optioneel, voor performance)
_freeze/

# Quarto cache
.quarto/
_quarto/

# Output die je NIET wilt pushen
!_site/
